@font-face{
	font-family:fridayimport;
	src:url("../fonts/friday.ttf");
}
@font-face{
	font-family:fightimport;
	src:url("../fonts/fight.ttf");
}
@font-face{
	font-family:poolimport;
	src:url("../fonts/pool.ttf");
}
body {
	margin: 0;
	padding: 0;
	background-image:url(../images/b.jpg);
	background-size:cover;
}
h1 {
font-family: fridayimport;
color:yellow;
text-align:left;
font-size:60px;
padding-left:130;
padding-top:55;

}
 ul{
	margin:0;
	padding:0;
    list-style-type: none;
	color:fffff;
    background-color: #E8FF00;	
	font-family: fightimport;
	font-size:30px;
	overflow: hidden;
}
li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #ffffff;
}
li h3{
	margin-left:1300;
	margin-bottom:250;
}
p img {
	margin-left:5;
	margin-top:-50;
	position: relative;

}
h2 img {
	margin-left:550;
	margin-top:-140;
}
h3{
position: absolute; 
font-family: poolimport;
color:black;
bottom: 120px; 
font-size:18px;
letter-spacing: 2px;
line-height: 20px;
left: 75; 
text-indent: 30px;
}



