@font-face{
	font-family:fridayimport;
	src:url("../fonts/friday.ttf");
}
@font-face{
	font-family:fightimport;
	src:url("../fonts/fight.ttf");
}
body {
	margin: 0;
	padding: 0;
	background-image:url(../images/b.jpg);
	background-size:cover;
}
h1 {
font-family: fridayimport;
color:yellow;
text-align:left;
font-size:60px;
padding-left:40;
padding-top:55;

}
 ul{
	margin:0;
	padding:0;
    list-style-type: none;
	color:fffff;
    background-color: #E8FF00;	
	font-family: fightimport;
	font-size:30px;
	overflow: hidden;
	

}
li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #ffffff;
}
li img {
	margin-left:915;
	padding-top:4;
}
h2 img {
	margin-left:480;
	margin-top:-140;
	
}



