@font-face{
	font-family:fridayimport;
	src:url("../fonts/friday.ttf");
}
@font-face{
	font-family:fightimport;
	src:url("../fonts/fight.ttf");
}
body {
	margin: 25;
	padding: 20;
	background-image:url(../images/b.jpg);
	background-size:cover;
}
#body h1 {
font-family: fridayimport;
color:yellow;
text-align:left;
font-size:60px;
text-shadow: 
}
ul{
    list-style-type: none;
	color:fffff;
	text-shadow: 1px 1px 2px black;
    background-color: #333;	
}
li
{
	font-family: fightimport;
	font-size:20px;
}
	