@font-face{
	font-family:fightimport;
	src:url("../fonts/fight.ttf");
}
@font-face{
	font-family:madimport;
	src:url("../fonts/mad.ttf");
}
body {
	margin: 0;
	padding: 0;
	background-image:url(../images/mad.jpg);
	background-size:cover;
	 background-repeat: no-repeat;
    background-attachment: fixed;
}

ul{
	margin:0;
	padding:0;
    list-style-type: none;
	color:fffff;
    background-color: #FFAA00;	
	font-family: fightimport;
	font-size:30px;
	overflow: hidden;
	
}
li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #00FFD8;
}
 h1{
font-family: madimport;
color:#00F7FF;
text-align:center;
font-size:70px;
padding-top:55;
text-shadow: 5px 5px 4px black;

}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
	position: absolute;
	text-decoration: none;
	left:25%;
	animation: fadeIn 2s;
}
.fa-twitter {
	position: absolute;
	text-decoration: none;
	left:35%;
	animation: fadeIn 2s;
}
.fa-gmail {
	position: absolute;
	text-decoration: none;
	left:45%;
	animation: fadeIn 2s;
}
.fa-blog {
	position: absolute;
	text-decoration: none;
	left:55%;
	animation: fadeIn 2s;
}
.fa-steam {
	position: absolute;
	text-decoration: none;
	left:65%;
	animation: fadeIn 2s;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity:1;
	}
}

	
