@font-face{
	font-family:fightimport;
	src:url("../fonts/fight.ttf");
}
@font-face{
	font-family:clockimport;
	src:url("../fonts/clock.ttf");
}


body {
	margin: 0;
	padding: 0;
	background-image:url(../images/d.jpg);
	background-size:cover;
	 background-repeat: no-repeat;
    background-attachment: fixed;
}

ul{
	margin:0;
	padding:0;
    list-style-type: none;
	color:fffff;
    background-color: #000000;	
	font-family: fightimport;
	font-size:30px;
	overflow: hidden;
	
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #FF4900;
}

h1{
font-family: clockimport;
color:white;
text-align:left;
font-size:80px;
padding-left:250;
padding-top:55;
-webkit-text-stroke: 2px black;

}
.container {
  position: relative;
  width: 0;
  margin-left:20;
  padding-left:20;
}

h2 img{
	border-style: solid;
 border-color: black;

}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20;
  right: 0;
  height: 100%;
  width: 200;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFFFFF;
 border-style: solid;
 border-color: black;
}
.container:hover .overlay {
  opacity: 1;
}
.text {
  color: BLACK;
  font-size: 20px;
  font-family:clockimport;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.container2 {
  position: relative;
  width: 0;
  margin-left:287;
bottom:228;
  
}

h4 img{
	border-style: solid;
 border-color: black;
 bottom:50;
}
.overlaytwo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 200;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFFFFF;
 border-style: solid;
 border-color: black;
}
.container2:hover .overlaytwo {
  opacity: 1;
}
.text2 {
  color: BLACK;
  font-size: 20px;
  font-family:clockimport;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.container3 {
  position: relative;
  width: 0;
  margin-left:515;
  padding-left:20;
  bottom:458;
}

h3 img{
border-style: solid;
border-color: black;
}
.overlay3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20;
  right: 0;
  height: 100%;
  width: 200;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFFFFF;
 border-style: solid;
 border-color: black;
}
.container3:hover .overlay3 {
  opacity: 1;
}
.text3 {
  color: BLACK;
  font-size: 18px;
  font-family:clockimport;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.container4 {
  position: relative;
  width: 0;
  margin-left:10%;
bottom:60%;
}
.overlay4 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 200;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFFFFF;
 border-style: solid;
 border-color: black;
}
.container4:hover .overlay4 {
  opacity: 1;
}
.text4 {
  color: BLACK;
  font-size: 18px;
  font-family:clockimport;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.container 4 img{
border-style: solid;
border-color: black;
}
.container5 {
  position: relative;
  width: 0;
  margin-left:32%;
	top:-95%;
}
.overlay5 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 200;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFFFFF;
 border-style: solid;
 border-color: black;
}
.container5:hover .overlay5 {
  opacity: 1;
}
.text5 {
  color: BLACK;
  font-size: 18px;
  font-family:clockimport;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.container 5 img{
border-style: solid;
border-color: black;
}

.line-separator{
	position: absolute;
	top: 860px;
height:5px;
background:#FFFFFF;
border-bottom:5px solid #000000;
width:800px;

}
.works h1{
position: absolute;
font-family: clockimport;
color:white;
text-align:left;
font-size:80px;
padding-left:250;
top:820px;
-webkit-text-stroke: 2px black;

}

