@font-face{
	font-family:fightimport;
	src:url("../fonts/fight.ttf");
}
body {
	margin: 25;
	padding: 30;
	background-image:url(../images/a.jpg);
	font-family: fightimport;
	color:#04FBE5;
}
#header ul {

	padding: 0px;
	list-style-type: none;
	overflow:hidden;
	float:left;
}
.line-separator{

height:5px;
background:#04FBE5;
border-bottom:2px solid #313030;
width:650px;

}
#header ul li {
	float:left;
	margin: 0px;
	line-height:100px;
	text-align:center;
	font-size:40px;
	padding-left:10px;
	padding-right:20px;
	
}
#header ul li a:hover{
	color:#FB0404;
	background-image:url(../images/hover.png);
	background-size: 150px 60px;
	opacity:0.6;
	
}
#header a:hover, a:visited, a:link
{
    text-decoration: none;
	color:#04FBE5;
	text-shadow: 2px 2px 2px black;
}
#main 
{
width:50px;
margin-top:50px;
margin-bottom:15px;
}


#main .main_center h1
{
width:570px;
text-align:center;
float:left;
font-size:100px;
text-shadow: 5px 5px 3px black;

}
#main .main_center h1 {
	animation: fadeIn 3s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity:1;
	}
}
	
	

